.nav {
    ul {
        display: flex;
        list-style: none;
        gap: 40px;

        @media screen and (max-width: 768px) {
            gap: 0 20px;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: baseline;
        }
    }

    li {
        cursor: pointer;
    }
}