$font-family: 'Montserrat', sans-serif!default;
$font-style: normal!default;
$font-weight: 500!default;
$font-size: 18px!default;
$line-height: 142,6%!default;

$color-primary: #FF6060;
$color-gray: #C4C4C4;
$color-lightgray: #f7f7f7;
$color-white: #FFFFFF;
$color-black: #000000;